@font-face {
  font-family: "Inter";
  src: url(../../fonts/Inter-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';  
  font-weight: 900;  
  src: url(../../fonts/Inter-Black.woff2) format("woff2");      
}

@font-face {
  font-family: 'Inter';  
  font-weight: 700;  
  src: url(../../fonts/Inter-Bold.woff2) format("woff2");      
}


.page {
  background-color: #2A2C2F;
  font-size: 18px;
  font-family: "Inter";
  
}
