.location__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  margin: 0 0 26px;
}

@media screen and (max-width: 400px) {
  .location__text {    
    max-width: 288px;
    margin: 0 auto;
    margin-top: 25px;
  }
}