.location__title {
  margin: 0;
  max-width: 460px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .location__title {
    font-size: 42px;
    line-height: 43px;
    max-width: 280px;
  }
}

@media screen and (max-width: 550px) {
  .location__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 400px) {
  .location__title {
    max-width: 288px;
    height: 35px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px 32px;
  }
}

