.gallery__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1184px) {
  .gallery__container {
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .gallery__container {
    display: block;
  }
}