.header {
  display: flex;
  justify-content: space-between;
  height: 100%;  
  max-width: 1184px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 28px;
}

@media screen and (max-width: 400px) {
  .header {
    padding: 16px 16px 0 16px;
  }
}