.footer-link { 
  margin-right: 19px;
}

@media screen and (max-width: 400px) {
  .footer-link {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .footer-link:last-child {
    margin-bottom: 0;
  }
}