.main__subtitle {
  max-width: 640px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  margin-top: 32px;
}

@media screen and (max-width: 400px) {
  .main__subtitle {
    width: 100%;
    min-height: 40px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
  }
}