.footer__copywrite {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 400px) {
  .footer__copywrite {
    margin-top: 48px;    
  }
}