.bg-traine {
  max-width: 1184px;
  height: 740px;
  background-image: url(../../images/__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  position: relative; 
}

.bg-traine::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(42, 44, 47, .3);;
}

.bg-traine:hover {
  opacity: 0.8;
}

@media screen and (max-width: 400px) {
  .bg-traine {    
    height: 300px;
  }
}