.location__link {  
  color: #fff;
}

@media screen and (max-width: 560px) {
  .location__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .location__link {
    font-size: 18px;
  }
}