/* .location__content {
  padding-top: 15px;
} */

@media screen and (max-width: 768px) {
  .location__content {
    margin-left: 24px;
    margin-right: 24px;
    column-gap: 3%;
    margin-top: 74px;
  }
}