.main__img {
  background-image: url(../../../images/main-img.jpg);
  max-width: 984px;
  max-height: 615px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 64px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .main__img {
    margin-top: 54px;
  }
}

@media screen and (max-width: 768px) {
  .main__img {
    margin-top: 56px;
    min-height: 480px;
  }
}

@media screen and (max-width: 400px) {
  .main__img {
    min-height: 200px;
    margin-top: 40px;
  }
}